section {
    width: 100vw;
    height: 70vh;
    border: 2px solid grey;
}

.hero > div {
    width:70px;
    height: 33px;
    background-color: red;
    margin-bottom: 10px;
    border: 3px dotted white;
}